html {
    height: 100%;
    min-height: 100%;
}


#navbar {
    display:grid;
    grid-template-columns: 1fr 50px 50px 50px 50px;
    grid-template-rows: 200px;;
    border-bottom: ridge pink 10px;
    background-color:white;
    grid-template-areas:
    "yeehaw-main search-btn login shopping-cart"
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    color:blue;
}

a:visited {
    text-decoration:blue;
}

#yeehaw-main {
    grid-area: yeehaw-main;
    justify-self:center;
    align-self: center;
    font-family: 'Oi', cursive;
    font-size: 80px;
    text-decoration:none;
    color: #FFD6E3;
}
#search-btn {
    grid-area: search-btn;
}
#login {
    grid-area: login;
}
#shopping-cart {
    grid-area: shopping-cart;
}

#shop {
    grid-area: shop;
    justify-self:right;
    align-self:center;
    position:relative;
    left: 490px;
}
#gremmies {
    grid-area: gremmies;
    justify-self:right;
    position:relative;
    right: 50px;
}
#doggos {
    grid-area: doggos;
    justify-self:right;
    position:relative;
    right: 520px;

}

#about {
    grid-area: about;
    justify-self:right;
    position:relative;
    right: 1200px;
}

#navbar-under {
    display:grid;
    grid-auto-flow: column;
    background-color:white;
    grid-template-areas:
    "shop gremmies doggos about"
    


}

